 <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <%- include('footerWidgetArea.ejs')%>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <%- include('bottomFooterArea.ejs')%>
        </div>