<div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading">
                        <h6>Popular News</h6>
                    </div>

                    <div class="row">

                        <!-- Single Post -->
                        <%- include('newsSinglePost.ejs')%>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="section-heading">
                        <h6>Info</h6>
                    </div>
                    <!-- Popular News Widget -->
                    
                    <%- include('newsWidget.ejs')%>

                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget">
                    <%- include('newsLetterWidget.ejs')%>
                    </div>
                </div>
            </div>
        </div>