
    <%if(typeof newsWidgetData != 'undefined'){  %>
    <div class="popular-news-widget mb-30">
    <h3>4 Most Popular News</h3>

    <!-- Single Popular Blog -->
    <% newsWidgetData.forEach((WidgetData, index)=>{
    let d = new Date(WidgetData.newsWidgetDate); %>
        <div class="single-popular-post">
                <a href="#">
                    <h6><span><%= index+1 %>.</span>Amet, consectetur adipiscing elit. Nam eu metus sit amet odio
                        sodales.</h6>
                </a>
                <p><%= dateAndTime.format(d,'MMMM DD YYYY')%></p>
            </div>
    <%  }) %>
    </div>
    <% }%>
    

  
